body {
	background-color: #FFFFFF;
}
#copyright {
	background-color: #F5F5F5;
}
#news {
	background-color: #F5F5F5;
}
#title {
	background-color: rgb(51, 51, 51);
	color: white;
}
img {
	width: 186px;
	height: 30px;
}
#link {
	color: #C00000;
}
#link:hover{
	text-decoration: underline;
}