html, body{
  width: 100%;
  margin: auto;
}

#logo{
	background-color: rgb(51, 51, 51);   
	margin: 0px;
}

#logo img{
  padding-top: 10px;
  width: 186px;
  height: 30px;
  
}

.col1{
  width: 960px;
  margin: auto;
}

.col2{
  column-count: 2;
  column-width: 470px;
  column-gap: 20px;
  width: 960px;
  margin: auto;
}

.col23{
  column-count: 2;
  column-gap: 20px;
}

.col3{
  column-count: 3;
  column-width: 308px;
  column-gap: 18px;
  width: 960px;
  margin: auto;
}

.col4{
  column-count: 4;
  column-width: 225px;
  column-gap: 18px;
  width: 960px;
  margin: auto;
}
